@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

$color-gray: #999;
$color-white: #e9e9e9;
$color-black: #252525;
$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
$box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.6);
$tablet: 1024px;                                //平板尺寸
$mobile: 767px;                                 //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    // 盒子大小：框線盒子 規範盒子範圍
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

// 導覽列
#menu {
    background-image: url(./img/menu.png);
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
        margin: 0 15px 0 auto;
    }

    @media screen and (max-width: $mobile) {
        margin: 0 20px 0 auto;
        background-size: cover;
        width: 40px;
        height: 40px;
    }
}

nav {
    display: grid;
    grid-template-columns: 15% auto 15%;
    text-align: center;
    background: $color-white;
    padding: 25px;
    color: $color-white;
    box-shadow: $box-shadow;
    position: fixed;
    z-index: 3;
    width: 100%;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 100% 0;
    }

    #link {

        @media screen and (max-width: $tablet) {
            display: none;
        }

        a {
            color: $color-black;
            text-decoration: none;
            font-size: 16px;
            padding: 0 30px;
            transition: 0.5s;
            display: inline-block; //行內區塊元素 不會自己一行而且可以縮放
            vertical-align: 10px;

            &:hover {
                color: $color-gray;
                transform: scale(1.3);
            }
        }
    }

    #social {

        @media screen and (max-width: $tablet) {
            display: none;
        }

        margin-right: 20px;

        a {
            transition: 0.3s;
            padding: 0 10px;

            &:hover {
                filter: invert(26%) sepia(72%) saturate(430%) hue-rotate(329deg) brightness(91%) contrast(85%);
            }

            img {
                width: 20px;
                vertical-align: -25px; //上下對齊
            }
        }
    }
}

.logo {
    font-weight: 900;
    transition: 0.5s !important;
    font-size: 36px !important;
    font-family: 'Coda Caption', sans-serif;
    letter-spacing: 3px;


    &:hover {
        transform: scale(1.5) !important;
    }
}

#banner {
    .slick-prev {
        left: 50px;
        z-index: 2;

        @media screen and (max-width: $tablet) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }

        @media screen and (max-width: $mobile) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }
    }
    .slick-next {
        right: 50px;
        z-index: 2;

        @media screen and (max-width: $tablet) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }

        @media screen and (max-width: $mobile) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }
    }
    .slick-dots {
        bottom: 50px;
        z-index: 2;
    }

    @for $i from 1 through 3 {
        .banner#{$i} {
            background-image: url(./img/banner#{$i}.jpg);
            height: 100vh;
            text-align: center;
            color: $color-white;

            @media screen and (max-width: $tablet) {
                background-size: cover;
            }

            &:focus {
                outline: none;
            }
    
            h1 {
                padding: 300px 0 100px;
                font-size: 60px;
                text-shadow: $text-shadow;   

                @media screen and (max-width: $tablet) {
                    padding: 400px 0 50px;
                }

                @media screen and (max-width: $mobile) {
                    padding: 300px 0 30px;
                    font-size: 36px;
                }
            }
    
            h2 {
                font-size: 24px;
                text-shadow: $text-shadow;

                
                @media screen and (max-width: $tablet) {
                    width: 80%;
                    margin: 0 auto;
                }

                @media screen and (max-width: $mobile) {
                    width: 50%;
                    font-size: 20px;
                    margin: 0 auto;
                    line-height: 1.5;
                }

            }
        }
    }
}

// 最新消息
#news {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px;
    }

    #news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }

        .news-card {
            box-shadow: $box-shadow;
        }

        img  {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        h3 {
            text-align: center;
            padding: 10px;
        }

        p {
            line-height: 1.5;
            font-size: 14px;
            padding: 20px 20px 30px;
        }
    }
}

// 最新遊戲
#work {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px 0;
    // 溢出：隱藏
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }


    &:focus {
        outline: none;
    }

    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        /* border-radius: 50%; 寬高要相同(圓形) */
        border-radius: 50%;
        display: block;
        /* 顯示模式：區塊 */
        margin: 0 auto;
        /* 區塊元素 block 才能margin:0 auto; */
        transition: 0.5s;

        &:hover {
            border-radius: 5px;
        }
        
    }

    h2 {
        text-align: center;
        margin-top: 10px;
        color: $color-gray;
        
    }
}

// 聯絡LEO
form {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 100px;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px 100px;
    }

    input {
        width: 47%;
        padding: 10px;

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
        }

        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }

    input[type=email] {
        float: right;
        

        
       
    }

    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        padding: 10px;

        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }
}

footer {
    background: #666;
    margin-top: 100px;
    padding: 50px;
    text-align: center;

    .logo {
        color: $color-white;
        font-size: 14px;
        padding: 10px 0;
        text-decoration: none;
    }

    #link {
        padding: 1px 0;

        a {
            color: $color-white;
            text-decoration: none;
            font-size: 14px;
            padding: 0 5px;

            @media screen and (max-width: $mobile) {
                display: block;
                padding: 8px 0;
            }
        }
    }

    #copy {
        color: $color-black;
        font-size: 8px;
    }
    
}

// 統一樣式
// 按鈕樣式
.btn {
    background: $color-black;
    color: $color-white;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    transition: 0.5s;

    &:hover {
        border: 1px solid $color-black;
        background: $color-white;
        color: $color-black;
    }
}
// 大標題
.title-big {
    text-align: center;
    padding: 10px 0 30px;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
}
